.container-conteudo{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.conteudo-capa{
}

.conteudo-capa > img{
  border: 6px solid gray;
  border-radius: 5px;
  width: 500px;
  min-width: 500px;
  height: 300px;
}

.conteudo-descricao{
  margin-top: 20px;
}

.conteudo-descricao > p{
  color: rgb(226, 221, 221);
  margin-bottom: 25px;
}
